// Border

$bborder: 1px solid black;
$rborder: 1px solid red;


$redborder: 1px solid red;

// Pics
$chadin: url(../../sprites/sshort.gif);
$rickin: url(../../sprites/rickAst.jpg);
// Transition
$transi: all 2s;


// Background
$navbg: grey;