/* Top header */
#topheader {
    background-color: #B3B3B3;
    
}


/* Head topic */
#headlineer {
    font-variant: small-caps;
    text-transform: capitalize;
}

/* secound topic */
#secondhead {
    text-transform: uppercase;
}

/* the main text of the newspaper */
.maintext {
    font-family: Arial, Helvetica, sans-serif;
}


/* Referer on the bottom of the site */
#refer {
    font-size: 10;
}

/* The first word of a article */
.firstword {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20;
}