@import url(_var.scss);


#icon{
    background-image: url(../sprites/rickAst.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    width: 10vh;
    // border: $bborder;
}
.nav {
    background-color: $navcolor;
    background-image: linear-gradient(black, #3C3C3C);
    height: &$navheigh;
    width:auto;
    // border:$bborder;
    display:flex;
    justify-content: space-between;

    .button{
        display: inline;
        border: $bborder;
        margin: 10px;
        padding: 5px;
        color: $navcolor;
        width: auto;
        height: auto;
        &:hover {
            background-color: $honabgcolor;
        }
    }
}

.corpus {
    
    // border:$bborder;
    height: auto;

    #hero{
        background-image: url(../sprites/chad.png);
        background-size:cover;
        height: 800px;
        width: auto;
        object-fit: fill;
        color: whitesmoke;
        font-size: xx-large;

        #herotext {
            position: relative;
            top: 4vh;
            left: 4vh;
        }
    }

}

.bottom {
    background-color: grey;
    background-image: linear-gradient(#3C3C3C, lightgrey);
    width: auto;
    height: 8vh;
    #bottomtext{
        color: whitesmoke;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
}

.footer {
    width: auto;
    height: 15vh;
    // border: $bborder;
    background-color: $footbgcol;
    background-image: linear-gradient(lightgrey, grey, black);
    text-align: center;
}

